.pagination {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  display: grid;

  > div {
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    display: flex;
    gap: 0.3rem;
  }

  > a {
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin-left: auto;
    display: flex;
    gap: 0.25rem;

    > img {
      transition: opacity 200ms;
      aspect-ratio: 1;
      opacity: 0.65;
      height: auto;
      width: 25px;
    }

    > p {
      font-family: "Inter", sans-serif;
      transition: color 200ms;
      color: #ffffffa5;
      font-size: 1.25rem;
      font-weight: 300;
    }

    &:hover {
      > img {
        opacity: 1;
      }

      > p {
        color: #fff;
      }
    }
  }

  @media all and (width < 714px) {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    > div {
      grid-column: auto;
    }
  }

  @media all and (width < 375px) {
    a {
      > img {
        width: 20px;
      }

      > p {
        font-size: 1rem;
      }
    }
  }
}
