.dropdown {
  border: 1.65px solid #ffffff35;
  font-family: "Inter", sans-serif;
  background-color: #ffffff10;
  border-radius: 5px;
  appearance: none;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  color: #fff;
  width: 250px;
}
