.controller {
  justify-content: stretch;
  align-items: stretch;
  display: flex;
  gap: 1rem;

  > div {
    border: 1.65px solid #ffffff35;
    background-color: #ffffff10;
    border-radius: 5px;
    padding: 0.5rem;
    width: 250px;
  }
}
