.question {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.65rem;

  > div {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: center;
    display: grid;
    gap: 0.5rem;
  }

  > div:first-of-type {
    justify-content: center;
    align-items: start;
    display: flex;
    gap: 0.5rem;

    > div:first-of-type {
      flex-grow: 1;
    }

    > div:last-of-type {
      flex-grow: 0;
    }
  }
}
