.question {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  position: relative;
  display: grid;
  gap: 0.65rem;
}

.header {
  justify-content: center;
  align-items: start;
  display: flex;
  gap: 0.5rem;

  > div:first-of-type {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;

    > img {
      transition: opacity 200ms;
      aspect-ratio: 1;
      cursor: pointer;
      opacity: 0.75;
      width: 42.5px;
      right: -1rem;
      height: auto;
      top: 0;

      &:hover {
        opacity: 1;
      }
    }

    > div {
      flex-grow: 1;
    }
  }

  > div:last-of-type {
    flex-grow: 0;
  }

  @media all and (width < 800px) {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: center;
    display: grid;
    gap: 0.5rem;

    > div:last-of-type {
      margin-left: 50.5px;
    }
  }
}

.options {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}
