.statistic {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.45rem;

  &:first-of-type {
    margin-right: 0.65rem;
    margin-left: auto;
  }

  > img {
    aspect-ratio: 1;
    height: auto;
    width: 25px;
  }

  > p {
    font-family: "Inter",sans-serif;
    font-style: italic;
    font-size: 1.65rem;
    color: #FFD700;
    font-weight: 600;
  }

  @media all and (width < 375px) {
    &:first-of-type {
      margin-right: 0.25rem;
    }
  
    > img {
      height: auto;
      width: 22px;
    }
  
    > p {
      font-size: 1.25rem;
    }
  }
}
