section {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;

  &#creator {
    margin: 0 auto 2rem auto;

    @media all and (width < 1375px) {
      margin: 0 1.5rem 2rem 1.5rem;
    }
  }
}

hr {
  border: 1.5px solid #ffffff35;
  border-radius: 40px;
  margin: 0.5rem 0;
}

.buttons {
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  display: flex;
  gap: 1rem;
}
