body {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  height: 100dvh;
  display: grid;
}

main {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

section {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  display: grid;
  width: 1350px;
  height: 500px;

  > div {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: start;
    display: grid;
    gap: 1rem;
  }
}

hr {
  border: 1.5px solid #ffffff35;
  border-radius: 40px;
  margin: 1rem 0;
}
