.title {
  font-family: "Inter", sans-serif;
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;

  > span {
    color: #0000ff;
  }

  @media all and (width < 500px) {
    font-size: 2rem;
  }
}
