@use "../../../styles/quiz";

.quiz {
  border: 1.65px solid #ffffff35;
  transition: border-color 300ms;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: stretch;
  border-radius: 5px;
  min-width: 325px;
  padding: 1rem;
  display: grid;
  gap: 1.25rem;

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    border-color: #ffffffaf;
  }

  @media all and (width < 375px) {
    min-width: auto;
  }
}

.header {
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  display: grid;
  gap: 0.5rem;

  > div {
    border-radius: 100%;
    aspect-ratio: 1;
    width: 32.5px;

    &.hard {
      background: quiz.$hard;
    }

    &.medium {
      background: quiz.$medium;
    }

    &.easy {
      background: quiz.$easy;
    }
  }

  > h4 {
    font-family: "Inter", sans-serif;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-size: 1.65rem;
    overflow: hidden;
    font-weight: 300;
    color: #fff;
  }

  @media all and (width < 500px) {
    > div {
      width: 30px;
    }

    > h4 {
      font-size: 1.35rem;
    }
  }
}

.details {
  justify-content: space-between;
  align-items: end;
  display: flex;

  > p {
    border: 1.65px dashed #ffffff65;
    font-family: "Inter", sans-serif;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 0.5rem 2rem;
    color: #ffffff65;
    font-size: 1rem;
  }

  > div {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.2rem;

    > img {
      aspect-ratio: 1;
      width: 22.5px;
      height: auto;
    }

    > p {
      font-family: "Inter", sans-serif;
      font-style: italic;
      font-size: 1.5rem;
      font-weight: 600;
      color: #ffd700;
    }
  }

  @media all and (width < 500px) {
    > p {
      padding: 0.5rem 1.65rem;
      font-size: 0.85rem;
    }

    > div {
      gap: 0.2rem;

      > img {
        width: 20px;
      }

      > p {
        font-size: 1.3rem;
      }
    }
  }
}
