.option {
  justify-content: stretch;
  align-items: start;
  display: flex;
  gap: 0.5rem;

  > div:first-of-type {
    border: 2px solid #ffffff50;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
    aspect-ratio: 1;
    width: 42.5px;
    display: grid;

    > div {
      transition: scale 150ms, background-color 150ms;
      background-color: transparent;
      border-radius: 40px;
      height: 20px;
      width: 20px;
      scale: 0;
    }

    &.selected > div {
      background-color: #00ff00;
      scale: 1;
    }
  }

  > div:last-of-type {
    cursor: pointer;
    flex-grow: 1;
  }
}
